.temperature {
  font-size: 48px;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 3.5rem;
  pointer-events: all;
  border-radius: 1rem;
}

.custom-control-label::before {
  position: absolute;
  top: .5rem;
  left: -3rem;
  display: block;
  width: 6rem;
  height: 2rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-switch .custom-control-label::after {
  top: calc(.5rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  background-color: #adb5bd;
  border-radius: 3rem;
}

.custom-control-label::after {
  position: absolute;
  top: .5rem;
  left: -3rem;
  display: block;
  width: 2rem;
  height: 2rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #28a745;
  background-color: #28a745;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.form-group {
  width: 30%;
}